/* Clients */

.client-list {
    justify-content: center;

    li:not(:last-child){
        margin-right:10px;
        }
} 

.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 90px;
    border: solid 1px;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
        &:hover,
        &:focus {
        color: $accent
    }

    .icon {
        fill: currentColor;
    }
    
}
