.form {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form input{
    padding: 11px 16px;   
    padding-left: 42px;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
}

.form textarea {
    
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
}

.form-field:focus-within input {
    border-color: var(--accent);
    outline:none;
}

textarea:focus {
    border: 1px solid var(--accent);
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 28px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    color: var(--accent);
    transform: translate(-30px ,-40px);

}

.form-field .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

}

.form-field:focus-within > .icon {
    fill: var(--accent);
}

.form-comment {
    padding: 11px 16px;
    font: inherit;  
    
}

.comment-label {
    position: absolute;
    top: 14%;
    left: 16px;
    transform: translateY(-50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus + .comment-label,
.form-comment:not(:placeholder-shown) + .comment-label{
    color: var(--accent);
    transform: translate(-4px,-48px);
}

.form-field:nth-child(5) {
    margin-bottom: 20px;
}

.form-checkbox {
    display: flex;
    margin-bottom: 30px;
    align-items: center;

    & .checkbox-label::before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        width: 16px;
        height: 15px;
        border: 2px solid #2a2a2a;
        border-radius: 4px;
    }
}

.checkbox:checked ~ .checkbox-label::before {
    border-color: transparent;
    background-color: var(--accent);
    background-image: url(../images/sign.svg);
    background-size: contain;
    background-origin: border-box;
}
.form-checkbox a {
    text-decoration: underline;
    color: var(--accent);   

    & a:visited {
        color: var(--accent);
    }
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
	clip: rect(0 0 0 0); 
	overflow: hidden;
}