.hero {
    text-align: center;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
    ),url('../images/Hero.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.hero-title {
    display: block;
    max-width: 650px ;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--primary-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06;
    text-transform: uppercase;  
}