.nav-buttons,
.works-list {
    display: flex;
}

.nav-buttons {
    margin-top: 93px;
    margin-bottom: 50px;
    justify-content: center;
}

.button-port {
    display: inline-block;
    width: auto;
    padding: 6px 22px;
    color: $titleTextColor;
    background-color: #F5F4FA;
    margin-right: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    &:hover, 
    &:focus {
        color: $primaryWhite;
        background-color: $accent;
    }
}

