/*  What we do */

.service-list {
    
    .item {
        width: 370px;
    }

    .title {
        display: inline-block;
        position: absolute;
        bottom: 1%;
        right:0;
        width: 100%;
        height: 70px;    
        margin-top: 0;
        margin-bottom: 0;
        padding: 27px 78px;
        
        color: var(--primary-white);
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        background-color: rgba(47, 48, 58, 0.8);
    }
    
}
.services-thumb {
    position: relative;
}