/* Team list */

.team-list {
    
    .item {
        width: 270px;
        height: 422px;
        background-color: $primaryWhite;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 0 0 4px 4px;
    }
    .title {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $titleTextColor;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

    .text {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

}

.team-list .social {
    display: flex;
    justify-content: space-evenly;
   
}

.section.team {
    background-color: $backgroundSecondaryColor
}

.social-link-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $accent;
    }
    
    &:hover svg {
        fill: $primaryWhite;
    }
}