html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  header {
    height: 80px;
    width: 100%;
    border-bottom: solid 1px #ECECEC;
}

body {
    background-color: var(--primary-white);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03;
}

footer {
    width: 100%;
    // min-height: 300px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.email-submit {
    margin-left: 10px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

// Sections Headers

.section-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.hidden-title {
    display: none;
}

.item {
    margin-right: 30px;
}

.section-title {
    margin-top: 0;  
    margin-bottom: 50px;
}
